:root {
    --title-nav-text-color: #212121;
    --active-text-color: #2196F3;
    --item-text-color: #757575;
    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --footer-address-text-color: rgba(255, 255, 255, 0.6);
    --background: #2F303A;
    --background-color-team: #F5F4FA;

}

body {
    font-family: "Roboto", 'Times New Roman', Times, sans-serif;
    color: var(--item-text-color);
}

/*  Header index */

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--black-text-color);
}

.logo-styles {
    color: var(--active-text-color);
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--title-nav-text-color);
}

.header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-items>a:hover,
.header-items>a:focus {
    color: var(--active-text-color);
}

.header-item.current {
    color: var(--active-text-color);
}

.header-mail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--item-text-color);
}
.active-link>a:hover, .active-link>a:focus{
    color: var(--active-text-color);
}

/* Main index */

 /* Section main-lead */

.main-text{
    background: var(--background);
}

.main-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}
.main-btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--active-text-color);
    cursor: pointer;
}

.main-btn:hover {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.main-btn-text {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
}

.main-item-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-nav-text-color);
}

.main-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--item-text-color);
}

/* Section main-skills */

.main-skills-heading, .main-team-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-nav-text-color);
}

ul.main-img li {
    display: inline;
}

/* Section main-team */

.main-team {
    background-color: var(--background-color-team);
}

.main-team-fln {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-nav-text-color);
}

.main-team-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--item-text-color);
}

/* Footer index */

.footer {
    background: var(--background);
}

.footer-logo-item {
    color: var(--white-text-color);
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}


.footer-mail-text, .footer-tel-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--footer-address-text-color);
}


.footer-address-section>a:hover,
.footer-address-section>a:focus {
    color: var(--active-text-color);
}

/*Portfolio section*/
.portfolio-btn {
    background-color: var(--background-color-team);
    border-radius: 4px;
    cursor: pointer;
}

.portfolio-text-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-nav-text-color);
}

.portfolio-btn:hover, .portfolio-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    background: var(--active-text-color);
}

.portfolio-text-btn:hover, .portfolio-text-btn:focus {
    color: var(--white-text-color);
}

.portfolio-main-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-nav-text-color);
}

.portfolio-main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--item-text-color);
}
